@using DesafioUBC.Web.UI.Application.Interfaces
@inject IUserLoginAppService AppUser

<ul class="navbar-nav">
    @if (AppUser.IsAuthenticated())
    {
        <div class="menu-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <img src="~/lib/admin-lte/img/istockphoto-1326784239-2048x2048.jpg" style="width:36px; hight:36px" class="user-image img-circle elevation-2" id="profilePic" title=""
                     alt="ser Image">

                <span class="d-none d-md-inline"><b>@AppUser.GetUserName()</b></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3">
                <div class="dropdown-divider"></div>

                <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Identidade" asp-action="Logout">
                    <button id="logout" type="submit" class="dropdown-item d-flex align-items-center">
                        Sair
                        <i class="fa fa-toggle-off fa-fw ms-auto text-body text-opacity-50"></i>
                    </button>
                </form>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="dropdown-item" id="register" asp-area="" asp-controller="Identidade" asp-action="Register">
                <i class="fas fa-user-plus mr-1"></i>
                Registrar
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" id="login" asp-area="" asp-controller="Identidade" asp-action="Login">
                <i class="fas fa-user-alt"></i>
                Entrar
            </a>
        </li>
    }
</ul>