@using DesafioUBC.Web.UI.Application.Interfaces
@inject IUserLoginAppService AppUser
@* @{
    // var pUserFileNameImage = !string.IsNullOrEmpty(@AppUser.ObterUserFileNameImage())
    //                             ? "/arquivos/img/" + @AppUser.ObterUserFileNameImage()
    //                             : "/dist/img/istockphoto-1326784239-2048x2048.jpg";
} *@

<ul class="navbar-nav">
    @if (AppUser.IsAuthenticated())
    {
        <div class="menu-item dropdown">
            <a data-bs-toggle="dropdown" href="#" data-display="static" class="menu-link">
                <div class="menu-text">@AppUser.GetUserName()</div>
            </a>
            <div class="dropdown-menu dropdown-menu-end me-lg-3">
                @* <a class="dropdown-item d-flex align-items-center" asp-area="" asp-controller="PerfilUsuario" asp-action="Profile" title="Perfil do Usuário">
                    Perfil Usuário
                    <i class="fa fa-user-circle fa-fw ms-auto text-body text-opacity-50"></i>
                </a> *@

                <div class="dropdown-divider"></div>

                <form id="logoutForm" class="form-inline" asp-area="" asp-controller="Identidade" asp-action="Logout">
                    <button id="logout" type="submit" class="dropdown-item d-flex align-items-center">
                        Sair
                        <i class="fa fa-toggle-off fa-fw ms-auto text-body text-opacity-50"></i>
                    </button>
                </form>
            </div>
        </div>
    }
    else
    {
        <li class="nav-item">
            <a class="dropdown-item" id="register" asp-area="" asp-controller="Identidade" asp-action="Register">
                <i class="fas fa-user-plus mr-1"></i>
                Registrar
            </a>
        </li>
        <li class="nav-item">
            <a class="dropdown-item" id="login" asp-area="" asp-controller="Identidade" asp-action="Login">
                <i class="fas fa-user-alt"></i>
                Entrar
            </a>
        </li>
    }
</ul>