<div id="mdCreateStudents">
    <div class="modal fade" id="modalCreateStudents" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header alert alert-dark">
                    <h5 class="modal-title"><i class="fas fa-bars fa-fw me-1"></i>&nbsp;Cadastrar Estudante</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" v-on:click="clearFieldsStudents"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label class="form-label">Nome <span class="text-danger">*</span></label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="Nome" v-model="newStudents.name" minLength="2" maxlength="256" required />
                                        <div class="invalid-feedback">
                                            {{messageErrorValidationStudents.name}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8 mb-3">
                            <label class="form-label">Endereço</label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="Endereço" v-model="newStudents.Address" maxlength="1000" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label">Data de nascimento <span class="text-danger">*</span></label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <div class="input-group input-daterange " id="dataNascimentoStudentsDiv">
                                        @* <input type="text" class="form-control data" name="start" placeholder="Data de nascimento"
                                        id="dataNascimentoStudentsRef" ref="dataNascimentoStudentsRef"
                                        v-on:keyup="mascararData" v-maska data-maska="##/##/####" minLength="10"
                                        maxlength="10" required /> *@
                                        <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask>
                                        <label class="input-group-text" for="datepicker-component"><i class="fa fa-calendar"></i></label>
                                        <div class="invalid-feedback">
                                            {{messageErrorValidationStudents.dateBirth}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 mb-3">
                            <label class="form-label">Idade <span class="text-danger">*</span></label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <div class="input-group input-daterange " id="dataInclusaoNoticiaDiv">
                                        <input type="number" class="form-control" placeholder="Idade" v-model="newStudents.age" required />
                                        <div class="invalid-feedback">
                                            {{messageErrorValidationStudents.age}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label">Série</label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <input type="number" class="form-control " placeholder="Série" v-model="newStudents.series" />
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 mb-3">
                            <label class="form-label">Nota média</label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <input type="text" class="form-control " placeholder="nota média" v-model="newStudents.averageGrade" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nome da mãe</label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <div class="input-group ">
                                        <input type="text" class="form-control" placeholder="Nome da mãe" v-model="newStudents.motherName" maxlength="256" />

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <label class="form-label">Nome do pai</label>
                            <div class="row row-space-10">
                                <div class="col-12" :class="classesErrorsValidation">
                                    <input type="text" class="form-control" placeholder="Nome do pai" v-model="newStudents.fatherName" minLength="2" maxlength="256" />
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalCreateStudents" v-on:click="clearFieldsStudents">Fechar</button>
                    <button type="submit" class="btn btn-success" v-on:click="saveNewStudents">Salvar</button>
                </div>
            </div>
        </div>
    </div>

    <loading v-model:active="isLoading" :is-full-page="fullPage" color="#530daf" />
</div>