<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  
  <system.web>
    <!--<httpRuntime targetFramework="4.5" maxRequestLength="10240"  maxQueryStringLength="32768"  />-->
    <httpRuntime maxQueryStringLength="32768" maxUrlLength="65536" maxRequestLength="2097151" />
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <!--<requestLimits maxQueryString="32768"/>
        <requestLimits maxUrl="2048" maxQueryString="1024" />-->
        <requestLimits maxUrl="65536" maxQueryString="2097151" maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>